* {
  background-color: #191c27;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #191c27;
  width: 100vw
}

.lockIcon {
  /* display: flex; */
  /* justify-self: left; */
  /* align-self: baseline; */
  width: 4vw;
  height: 4vh;
}
/* .icon { */
/* } */

#logo {
  height: 2rem;
  display:flex;
  justify-self: left;
  color: whitesmoke;
  position: sticky;
  width: 2rem;
}

.iconContainer {
  /* margin: 10px 115px; */
  /* padding: 0px0px; */
  width: 5rem;
  display: flex;
  justify-content:center;
  align-items: center;
}
.linksContainer {
  background-color: #191c27;
  width: 80%;
  display: flex;
  justify-content: right;
}
.link {
  width: fit-content;
  font-size: 18px;
  padding: 2px 15px;
  margin: 20px 5px;
  font-style: normal;
  text-decoration: none;
  color:#f0dedef8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition-property: transform ;
  transition-duration: 0.2s;
  transition-timing-function:ease ;
}

.active {
  color: #E31C25;
}
:hover.link {
  color: #E31C25;
  transform: translateY(-2px);
}

/* At  830px, minimize links into one rollout folder*/