* {
  background-color: #191c27;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #191c27;
  width: 100vw
}

.lockIcon {
  width: 4vw;
  height: 4vh;
}

#logo {
  height: 2rem;
  display:flex;
  justify-self: left;
  color: whitesmoke;
  position: sticky;
  width: 2rem;
}

.iconContainer {
  width: 5rem;
  display: flex;
  justify-content:center;
  align-items: center;
}
.linksContainer {
  background-color: #191c27;
  width: 80%;
  display: flex;
  justify-content: right;
}
.link {
  width: fit-content;
  font-size: 18px;
  padding: 2px 15px;
  margin: 20px 5px;
  font-style: normal;
  text-decoration: none;
  color:#f0dedef8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition-property: transform ;
  transition-duration: 0.2s;
  transition-timing-function:ease ;
}

.active {
  color: #E31C25;
}
:hover.link {
  color: #E31C25;
  transform: translateY(-2px);
}
.main {
  display: flex;
  justify-content: space-evenly;
}

.secretsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
}

.bronzeLock {
  color: #CD7F32;
  width: 5rem;
  height: 2.5rem;
}
.silverLock {
  color: #C0C0C0;
  width: 5rem;
  height: 2.5rem;
}
.goldLock {
  color: #FFD700;
  width: 5rem;
  height: 2.5rem;
}

.verifyBtn {
  appearance: none;
  color: #f0dedef8;
  background-color: #1b1919;
  width: 6rem;
  height: 3rem;
  font-size: 19px;
  margin: 0.8rem 3rem;
  border: none;
  border-left: 1px solid black
}

.authMods {
  font-weight: 700;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: seashell;
}

.homeHeader {
  color: #e2dfdf;

}

.homeText {
  color: #C0C0C0;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.instructionsContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.mainInstructions {
  display:flex;
  justify-content: center;
  flex-flow: column wrap;
  justify-items: center;
  align-items: center;
}

.errorMessage {
  color: crimson;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px
}

.locked {
  display: none;
}
/* 1120, shrink home text*/
/* at 890px, max changes to right most text in home to scrunch */
/* At  760px, minimize links into one rollout folder*/
