* {
  background-color: #191c27;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #191c27;
  width: 100vw
}

.lockIcon {
  width: 4vw;
  height: 4vh;
}

#logo {
  height: 2rem;
  display: flex;
  justify-self: left;
  color: whitesmoke;
  position: sticky;
  width: 2rem;
}

.iconContainer {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer {
  background-color: #191c27;
  width: 80%;
  display: flex;
  justify-content: right;
}

.link {
  width: fit-content;
  font-size: 18px;
  padding: 2px 15px;
  margin: 20px 5px;
  font-style: normal;
  text-decoration: none;
  color: #f0dedef8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.active {
  color: #E31C25;
}

:hover.link {
  color: #E31C25;
  transform: translateY(-2px);
}

.main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem
}

.secretsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  width: 24rem;
}

.bronzeLock {
  color: #CD7F32;
  width: 5rem;
  height: 2.5rem;
}

.silverLock {
  color: #C0C0C0;
  width: 5rem;
  height: 2.5rem;
}

.goldLock {
  color: #FFD700;
  width: 5rem;
  height: 2.5rem;
}

.verifyBtn {
  appearance: none;
  color: #f0dedef8;
  background-color: #1b1919;
  width: 6rem;
  height: 3rem;
  font-size: 19px;
  margin: 0.8rem 3rem;
  border: none;
  border-left: 1px solid black;
  transition: all .4s ease-in-out;
  cursor: pointer;
  background-size: 85% 100%;
  background-position: 0 100%;
  background-image: black;
  border-style: solid;
  border-width: 1px
}

.authMods,
#registerButton {
  font-weight: 700;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: seashell;
}

.homeHeader {
  color: #e2dfdf;

}

.homeText {
  color: #C0C0C0;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.instructionsContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 29rem;
}

.mainInstructions {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  justify-items: center;
  align-items: center;
}

.errorMessage {
  color: crimson;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px
}

.loginContainer {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.inputsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.passContainer {
  display: flex;
  align-items: center;

}

.homeText {
  margin-right: 0.6rem
}

.loginUsername,
.loginPassword {
  color: #009698;
}

.secret {
  color: #0e9ca5
}

.secretContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 12rem;
}

.locked {
  display: none;
}

#loginButton {
  background-color: #192236;
  margin-bottom: 0.6rem;
  border: none;
}

.instructionsContainer {
  background-color: #009698;
  border-radius: 2%
}

.homeHeader {
  background-color: #009698;
}

.mainInstructions,
.loginContainer {
  background-color: #1b1919;
  box-shadow: 0 30px 44px 20px rgba(0, 0, 0, 0.50), 0 22px 22px rgba(0, 0, 0, 0.16);
}

.mainInstructions {
  background-color: #1b1919;
}

.loginContainer {
  background-color: #192236;
}

.homeText {
  width: 95%;
  background-color: #1b1919;
}

.loginText {
  background-color: #192236;
}

.inputsContainer,
.passContainer {
  background-color: #192236;
}

#loginButton:hover,
#registerButton:hover {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transform: translateY(-1.5px);
  color: #0e9ca5;
  border-bottom: 0.2px solid;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
}

#loginButton:hover,
#registerButton:hover {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  color: #0e9ca5;
}

#loginButton:hover,
#registerButton:hover {
  transition-property: all;
  transition-duration: 0.11s;
  transition-timing-function: ease;
  background-color: #192236;
  background-blend-mode: screen;
}

.verifyBtn:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #0059b3, #003366);
  border-style: groove;
  border-width: 0.2px;
  border-color: black;
}

.regMain {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.regContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 30rem;
}

.regUsername,
.regPassword {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
  align-items: center;
}

.regCredsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.regPasswordText,
.regUsernameText {
  padding-right: 1rem;
  font-size: 20px;
}

.regInput {
  width: 10rem;
  height: 2rem;
  color: #009698;
}

.regInstructions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.regInstrText {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #C0C0C0;
}

#registerButton {
  border: none;
  margin-top: 0.5rem;
}

.logOut:hover {
  cursor: pointer;
}

/* \/\/\/\/ First Secret \/\/\/\/ */

.firstSecretInstructions {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-items:center;
  justify-content: center;
}

.firstSecretLine {
  color: #C0C0C0;
  width: 40%;
  margin-top: 0.5rem;
}

.gameOneSpace {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 70vh;

}

.kevinJamesPNG {
  width: 7rem;
  position:absolute;
}

.gameTwoMain {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.gameTwoButton {
  height: 2rem;
  background-color: #e2dfdf;
  border-color:rgba(0, 0, 0, 0.50)
}

.gameTwoText {
  font-size: 19px;
  color: mintcream;
}

.gameTwoMessage {
  color: paleturquoise;
  font-size: 22px;
}
/* 850px, Home page: need to change instruction part */
/* 800px, Home page: need to edit the locks and verifies, they are going off screen */
/* 550px, nav bar: Should morph into bars*/